<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.usedshop.user.dao.UserDAO">
 
 	<select id="selectUserId" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM
			`user`
		WHERE 
			`loginId` = #{loginId}		
	
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`user`
				(
				`userName`
				,`loginId`
				,`password`
				,`email`
				,`createdAt`
				,`updatedAt`	
				)
		VALUES		
			(
			#{name}		
			,#{loginId}
			,#{password}
			,#{email}
			,NOW()
			,NOW()	
			)	
		
	
	</insert>
	
	<select id="selectUser" resultType="com.usedshop.user.model.User">
		SELECT 
				`userName`
				,`loginId`
				,`password`
				,`email`
				,`roll`
				,`createdAt`
				,`updatedAt`	
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}	AND
			`password` = #{password}

	
	</select>
	
		<select id="selectUserPwByLoginId" resultType="com.usedshop.user.model.User">
		SELECT 
				`userName`
				,`loginId`
				,`password`
				,`email`
				,`roll`
				,`createdAt`
				,`updatedAt`	
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}	AND
			`email` = #{email}

	
	</select>
	
	<select id="selectUserById" parameterType="map" resultType="string">
		SELECT 
			`loginId`
		FROM
			`user`
		WHERE
			`userName` = #{userName} AND
			`email` = #{email}
	
	</select>
	
	
	
 
 
 </mapper>