@charset "UTF-8";

.content{
    width: 1200px;
    height: 700px;
   

}
.subject-item {
    display: flex;
  
    height: 64px;

}
.subject-word{
    width: 200px;
}

.subject{
    width: 800px;
    height: 50px;
    
}

.price-item {
    display: flex;
    height: 64px;

}
.price-word {
    width: 200px;
}

.price{
    width: 500px;
    height: 50px;
    
}
.delivery-word {
	width: 100px;
	
}
.delivery {
	width: 300px;
	height: 30px;
}

.state-word {
	width: 150px;
	
}
.radios {
	width: 75px;
	line-height: 25px;
}

.explanation-word {
	width: 100px;
}
.createBtn {
	float:right;
	
}