@charset "UTF-8";

.find{
	margin: 0 auto;
    width: 500px;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    text-align: center;
}
#name {
    width: 500px;
    height: 50px;
	
	
}

#email_box{
	width: 350px;
	height: 40px;
}
.email_dup {
    width: 150px;
    height: 40px;
}

#pass_box1 {
    width: 500px;
    height: 40px;
}
#pass_box2 {
    width: 500px;
    height: 40px;
}
.buttons {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.join {
    width: 100px;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    

}
.back {
    width: 100px;
    height: 40px;
    background-color: gainsboro ;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;

}

a:hover{
	color: inherit;
	text-decoration: none;
}
