@charset "UTF-8";
.header{
	margin: 0 auto;
	width: 1200px;
	height: 75px;
	
	display: flex;
		
}
.logo{
    width: 200px;
    height: 75px;
    font-size: 40px;
    text-align: center;
}
.search {
    width: 800px;
    height: 75px;
    

}
.search-box {
    width: 500px;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.search-box > input {
    font-size: 16px;
    width: 425px;
    padding: 10px;
    border: 0px;
    outline: none;
    
}
.button {
    width: 75px;
    height: 100%;
    border: 0px;
    background-color: black;
    outline: none;
    color: #fff;
}
.s-word {
    color: #fff;
}
.s-word:hover {
    color: #fff;
    text-decoration: none;
}


.user-data > a {
    line-height: 75px;
}
.log-button {
    color: #454c53;
}
.log-button:hover {
    color: #454c53;
    text-decoration: none;
}
.sell {
    width: 100px;
    height: 75px;
   
}
.sell > a {
    
    line-height: 75px;
    color: #454c53;
}

.mypage {
    width: 100px;
    height: 75px;
   
}
.mypage > a {
   
    line-height: 75px;
    color: #454c53;
}
.logout {
    width: 100px;
    height: 75px;
   
}
.logout > a {
   
    line-height: 75px;
    color: #454c53;
}



/* 로그인 */
a {
    color: inherit;
    text-decoration: none;
}
.text-log{
    font-weight: bold;
    line-height: 75px;
}

.login-s {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.login{
    width: 350px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 0 auto;
}

#email {
    width: 290px;
    height: 50px;
    display: flex;
    margin: 0 auto;

}
.void2 {
    height: 10px;
}
#password {
    width: 290px;
    height: 50px;
    display: flex;
    margin: 0 auto;

}
.loginBtn {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    border-radius: 5px;
    line-height: 50px;
}
.op {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.text {
    margin-top: 80px;
    text-align: center;
    font-size: 12px;
    color: gray;
}
.join {
    font-weight: bolder;
}
a:hover{
    color: inherit;
    text-decoration: none;
}


.modal-sm {
    max-width: 350px;
}






